header {
  display: flex;
  padding: 40px 10px;
  letter-spacing: 5px;
  color: #fff;
  justify-content: center;
	align-items: center;
}

img {
  width: 100px;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.bodytext {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
}
