@import url("nav.css"); @import url("images.css"); @import url("blogHomepage.css");

body{
    background: #ECF0F1;
    margin: 0px;
}
@media(min-width:375px){
    .container{
        width: auto;
        height: 200vh;
        display: grid; 
        background: #ECF0F1;
        grid-template-columns: 375px;
        grid-template-rows: 1fr;
        grid-template-areas:
        "hd"
        "ex"
        "tp"
        "cp"
        "mb"
        "rm"
        "st"
        "gp"
        "ps"
        "ca"
        "mo"
        "fa"
        "ke"
        "li";
    }  
}

/* Medium Screens */
@media(min-width: 600px) and (max-width: 1100px){
    .container{
        display: grid;
        width: auto;
        height: auto;
        grid-template-columns: 650px;
        grid-template-rows: 225px 1fr 1fr;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd hd"
        "ex ex ex ex ex ex ex ex ex"
        "tp tp tp tp tp tp tp tp tp"
        "cp cp cp cp mb mb mb mb mb"
        "rm rm rm rm st st st st st"
        "gp gp gp gp ps ps ps ps ps"
        "ca ca ca ca mo mo mo mo mo"
        "fa fa fa fa ke ke ke ke ke"
        "li li li li li li li li li";
    }
}

/* Large Screens */
@media(min-width: 1101px){
    .container{
        grid-template-columns: 550px;
        grid-template-rows: 225px 1fr 1fr;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd hd"
        "ex ex ex ex ex ex ex ex ex"
        "tp tp tp tp tp tp tp tp tp"
        "cp cp cp cp mb mb mb mb mb"
        "rm rm rm rm st st st st st"
        "gp gp gp gp ps ps ps ps ps"
        "ca ca ca ca mo mo mo mo mo"
        "fa fa fa fa ke ke ke ke ke"
        "li li li li li li li li li";
    }
}

.card{
    padding: 10px;
    font-size: 18px;
    font-family: 'cursive';
    color: black;
    background: #ECF0F1;
    border: 1px solid #aaa;
}
#header{
    padding: 100px;
    background: #0B6AB0;
    width: auto;
    grid-area: hd;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    color: #D0D3D4;
    border: 5px outset #0B6AB0;
}

p{
    font-size: 18px;
}

.article{
    padding: 15px;
    width: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    justify-content: start;
    align-self: start;
}

#experience{
    width: auto;
    height: auto;
    grid-area: ex;
    font-size: 36px;
    font-weight: bold 900;
}

#tips{
    width: auto;
    height: auto;
    grid-area: tp;
    font-size: 36px;
}

#cpu{
    width: auto;
    height: auto;
    grid-area: cp;
    font-size: 36px;
}

#mobo{
    width: auto;
    height: auto;
    grid-area: mb;
    font-size: 36px;
}

#ram{
    width: auto;
    height: auto;
    grid-area: rm;
    font-size: 36px;
}

#storage{
    width: auto;
    height: auto;
    grid-area: st;
    font-size: 36px;
}

#gpu{
    width: auto;
    height: auto;
    grid-area: gp;
    font-size: 36px;
}

#power{
    width: auto;
    height: auto;
    grid-area: ps;
    font-size: 36px;
}

#case{
    width: auto;
    height: auto;
    grid-area: ca;
    font-size: 36px;
}

#mycase{
    font-size: 12px;
    font-weight: 500;
}

#monitor{
    width: auto;
    height: auto;
    grid-area: mo;
    font-size: 36px;
}

#keyboard{
    width: auto;
    height: auto;
    grid-area: ke;
    font-size: 36px;
}

#fans{
    width: auto;
    height: auto;
    grid-area: fa;
    font-size: 36px;
}

#links{
    width: auto;
    display: flex;
    flex-direction: column;
    grid-area: li;
    background: #F1C40F;
    color: whitesmoke;
    font-size: 36px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 5px outset #0B6AB0; 
}

#link{
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
