img{
    padding: 10px;
    width: 400px;
    height: 200px;
}
#amazon{
    padding: 10px;
    margin: 0px;
    width: 50px;
    height: 50px;
}
#components{
    width: 200px;
    height: 200px;
}
#cpu{
    width: 200px;
    height: 200px;
}
#gpu{
    width: 200px;
    height: 200px;
}
#ram{
    width: 300px;
    height: 200px;
}
#storage{
    width: 300px;
    height: 200px;
}
#monitor{
    width: 300px;
    height: 200px;
}
#case{
    width: 300px;
    height: 200px;
}
#profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}